---
layout: default
---

<small>{{ page.date | date: "%-d %B %Y" }}</small>
<h1>{{ page.title }}</h1>

<p class="view">by {{ page.author | default: site.author }}</p>

{{content}}

{% if page.tags %}
  <small>tags: <em>{{ page.tags | join: "</em> - <em>" }}</em></small>
{% endif %}

<!-----utteranc ---->
<script src="https://utteranc.es/client.js"
        repo="rech4210/comments"
        issue-term="pathname"
        label="Comments"
        theme="photon-dark"
        crossorigin="anonymous"
        max-width: 100%
        async>
}
</script>
